@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
  }
  #root {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    @apply sm:text-lg;
  }
  h1,
  h2,
  h3,
  h4,
  a {
    font-family: "Belanosima", sans-serif;
  }
  h2 {
    @apply text-3xl mb-9 sm:text-4xl md:text-[40px];
  }
  h3 {
    @apply text-lg sm:text-xl lg:text-[22px];
  }
}
@layer components {
  .container-px {
    @apply max-[320px]:px-3 px-7 sm:px-12 md:px-16 lg:px-28 xl:px-[18%];
  }
  /* The margins and paddings are applied in this manner to prevent the header from blocking out section headings */
  .section-top-spacing {
    @apply mt-7 pt-[88px] xl:mt-12 xl:pt-[96px]; 
  }
  .animated-underline {
    @apply after:content-[''] after:bg-white after:h-[3px] after:border-white after:w-2/3 after:absolute after:rounded after:left-1/2 after:bottom-[-5px] after:translate-x-[-50%] after:scale-x-0 hover:after:scale-x-100 after:my-transition after:group-[.fixed-header]:bg-french_blue lg:after:block;
  }
  .btn {
    @apply font-belanosima py-3 px-11 rounded-full hover:scale-110 my-transition xl:px-14;
  }
  .fixed-header {
    @apply fixed top-0 bg-white shadow-lg;
  }
}
@layer utilities {
  .my-transition {
    @apply transition-all duration-300;
  }
  .bg-mobile-hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("./assets/mobile-hero.jpg");
  }
  .bg-tablet-hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("./assets/tablet-hero.jpg");
  }
  .bg-desktop-hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("./assets/desktop-hero.jpg");
  }
}
